html,
body,
div,
ul,
li,
nav,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393939;
    color: white;
    font-family: "Montserrat", sans-serif;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
