* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #393939;
    color: white;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
